<launch>
    <arg name='input' default='filter_in' />
    <arg name='output' default='filter_out' />
    <arg name='config' default='filter_config.yaml' />

    <!-- Launch filter and required params -->
    <node name='avg_filter' pkg='twist_filter' type='init_avg.py' output='screen'>
        <remap from='filter_in' to='$(arg input)' />
        <remap from='filter_out' to='$(arg output)' />

        <rosparam command='load'>
            sample_size: 10
        </rosparam>
        <rosparam command='load' file='$(find twist_filter)/config/$(arg config)' />
    </node>
</launch>