<launch>
    <arg name='input' default='filter_in' />
    <arg name='output' default='filter_out' />

    <!-- Launch filter -->
    <node name='filter' pkg='twist_filter' type='init_avg.py' output='screen'>
        <remap from='filter_in' to='$(arg input)' />
        <remap from='filter_out' to='$(arg output)' />

        <rosparam command='load'>
            num_samples: 10
        </rosparam>
    </node>
</launch>