<launch>
    <arg name='filter_name' default='twist_filter' />
    <arg name='input' default='filter_in' />
    <arg name='output' default='filter_out' />
    <arg name='filter_config' default='$(find twist_filter)/config/default_fir.yaml' />
    <arg name='use_repeater' default='false' />

    <!-- Launch filter -->
    <node name='$(arg filter_name)' pkg='twist_filter' type='init_fir.py' output='screen'>
        <remap from='filter_in' to='$(arg input)' />
        <remap from='filter_out' to='$(arg output)' />

        <rosparam file="$(arg filter_config)" command="load" />
        <param name='use_repeater' value='$(arg use_repeater)' />
    </node>
</launch>