<launch>
    <arg name='filter_config'   default='$(find twist_filter)/config/default_iir.yaml' />
    <arg name='timeout'         default='0.25' />

    <!-- Launch filter -->
    <node name='iir_twist_filter' pkg='twist_filter' type='init_iir.py' output='screen'>
        <rosparam file="$(arg filter_config)" command="load" />
        <param name='input_timeout' value='$(arg timeout)' />
    </node>
</launch>